.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    background-color: white;
    width: 300px;
    height: 370px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
    0 2px 4px -2px rgba(0,0,0,.1);
}

.header {
    position: relative;
    background-clip: border-box;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    background-color: #d8b9f2;
    box-shadow: 0 10px 15px -3px rgba(138, 43, 226, 0.4), 0 4px 6px -4px rgba(138, 43, 226, 0.4);
    height: 6rem;
}

.info {
    border: none;
    padding: 1.5rem;
    text-align: center;
}

.title {
    color: rgb(38 50 56);
    line-height: 1.375;
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}

.footer {
    padding: 0.75rem;
    border: 1px solid rgb(236 239 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 140, 255, 0.082);
}

.tag {
    font-weight: 300;
    font-size: .75rem;
    display: block;
}

.action {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(138, 43, 226, 0.4), 0 2px 4px -2px rgba(138, 43, 226, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: #c49ae6;
    border-radius: 0.5rem;
}