.loginPage {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh; /* Adjusted to move the page up */
    background-color: #f0f2f5;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.loginForm {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1 {
    display: flex;
    justify-content: center;
    padding: 5em 0px 0px 0px;
}