.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: papayawhip;
}

@media (max-width: 768px) {
    .loginPage {
        height: 100vh;
        width: 100vw;
        position: fixed;
    }
}