.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    color: blueviolet;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px 32px #fefefe;
    border-radius: 8px;
}

.inputBox {
    position: relative;
    right: 0.6em;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: blueviolet;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-35px);
    margin-left: 5px;
    padding: 10px;
    pointer-events: none;
    font-size: 14px;
    color: blueviolet;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(170px) translateY(-56px);
    font-size: 10px;
    padding: 5px 10px;
    background: blueviolet;
    letter-spacing: 0.2em;
    color: white;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid blueviolet;
    border-radius: 8px;
}

.enter, .home {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.enter:hover, .home:hover {
    background-color: blueviolet;
    color: white;
}

@media (max-width: 768px) {
    .card {
        width: 250px;
    }

    .inputBox {
        width: 200px;
    }

    .inputBox input:valid~span,
    .inputBox input:focus~span {
        transform: translateX(130px) translateY(-56px);
        font-size: 0.8em;
        padding: 5px 10px;
        background: blueviolet;
        letter-spacing: 0.2em;
        color: white;
        border: 2px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.enter, .signup {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.enter:hover, .signup:hover {
    background-color: blueviolet;
    color: white;
}

@media (max-width: 768px) {
    .card {
        width: 250px;
    }

    .inputBox {
        width: 200px;
    }

    .inputBox input:valid~span,
    .inputBox input:focus~span {
        transform: translateX(109px) translateY(-55px);
        font-size: 0.8em;
        padding: 3px 6px;
        background: blueviolet;
        letter-spacing: 0.2em;
        color: white;
        border: 2px;
    }

}