.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.totalContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    position: relative;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cartItemDetails {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cartItemName {
    font-weight: bold;
    color: #333;
}

.cartItemPrice {
    color: #007bff;
}

.totalSection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: #ff1a1a;
}

.cart h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.cartItems {
    margin-bottom: 20px;
    /* Add styles for cart items */
}

.addressSection {
    margin-bottom: 20px;
}

.addressSection label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.input {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font: bold;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}

.success {
    color: green;
}

.successMessage {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.errorMessage {
    color: red;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.inputError {
    border: 1px solid red;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.productImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
}